.nav-container {
  min-height: 9vh;
  background-color: #4a4a4a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  .nav-links {
    display: flex;
    list-style-type: none;
    .nav-link {
      color: white;
      margin: 0.5rem;
      cursor: pointer;
      &:hover {
        color: #202020;
      }
    }
  }
}
